 

    
    
 <!--Main Slider-->
    <section class="main-slider default-style style-one">
        <div class="tp-banner-container">
          <div class="tp-banner">
            <ul>
              <li data-transition="curtain-2" data-slotamount="1" data-masterspeed="1000" data-thumb="images/slider/1.jpg"  data-saveperformance="off"  data-title="Awesome Title Here"> <img src="images/slider/1.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                <div class="tp-caption sfb sfb tp-resizeme"
                        data-x="555"
                        data-y="center"
                        data-hoffset="0"
                        data-voffset="-110"
                        data-speed="1500"
                        data-start="1000"
                        data-easing="easeOutBounce"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn">
                  <h6 class="sub-title">leave the house cleaning chores to us</h6>
                </div>
                <div class="tp-caption sfb sfb tp-resizeme"
                        data-x="550"
                        data-y="190"
                        data-hoffset="250"
                        data-voffset="0"
                        data-speed="1500"
                        data-start="1000"
                        data-easing="easeInOutQuart"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeOut">
                  <h2 class="main-title">relax and fun with <br> your <span>leisure time</span></h2>
                </div>
                <div class="tp-caption sfb sfb tp-resizeme"
                        data-x="560"
                        data-y="320"
                        data-hoffset="0"
                        data-voffset="150"
                        data-speed="1500"
                        data-start="2000"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"><a href="/about" class="btn slider-btn">About more</a></div>
              </li>
              <li data-transition="curtain-1" class="" data-slotamount="1" data-masterspeed="1000" data-thumb="images/slider/2.jpg"  data-saveperformance="off"  data-title="Awesome Title Here"> <img src="images/slider/2.jpg" alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                <div class="tp-caption sfb sfb tp-resizeme"
                        data-x="555"
                        data-y="center"
                        data-hoffset="0"
                        data-voffset="-110"
                        data-speed="1500"
                        data-start="1000"
                        data-easing="easeOutBounce"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn">
                  <h6 class="sub-title-1">leave the house cleaning chores to us</h6>
                </div>
                <div class="tp-caption sfb sfb tp-resizeme"
                        data-x="550"
                        data-y="190"
                        data-hoffset="250"
                        data-voffset="0"
                        data-speed="1500"
                        data-start="1000"
                        data-easing="easeInOutQuart"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeOut">
                  <h2 class="main-title-1">relax and fun with <br> your <span>leisure time</span></h2>
                </div>
                <div class="tp-caption sfb sfb tp-resizeme"
                        data-x="560"
                        data-y="320"
                        data-hoffset="0"
                        data-voffset="150"
                        data-speed="1500"
                        data-start="2000"
                        data-easing="easeOutExpo"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn"><a href="/about" class="btn slider-btn-2">About more</a></div>
              </li>
                <li data-transition="slideleft" data-slotamount="1" data-masterspeed="2000" data-thumb="images/slider/3.jpg"  data-saveperformance="off"  data-title="Awesome Title Here"> <img src="images/slider/3.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                <div class="tp-caption sfb sfb tp-resizeme"
                        data-x="center"
                        data-y="center"
                        data-hoffset="0"
                        data-voffset="0"
                        data-speed="1500"
                        data-start="1000"
                        data-easing="easeOutBounce"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeIn">
                  <h2 class="bg-color"></h2>
                </div>
                <div class="tp-caption sfb sfb tp-resizeme"
                        data-x="center"
                        data-y="center"
                        data-hoffset="0"
                        data-voffset="-65"
                        data-speed="1500"
                        data-start="1000"
                        data-easing="easeInOutQuart"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeOut">
                  <h2 class="slider-title-3">leave <span>the house</span></h2>
                </div>
                <div class="tp-caption sfb sfb tp-resizeme"
                        data-x="center"
                        data-y="center"
                        data-hoffset="0"
                        data-voffset="-15"
                        data-speed="1500"
                        data-start="1000"
                        data-easing="easeInOutQuart"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeOut">
                  <h2 class="slider-title-4"> <span>cleaning </span>chores to us</h2>
                </div>
                <div class="tp-caption sfb sfb tp-resizeme"
                        data-x="center"
                        data-y="center"
                        data-hoffset="0"
                        data-voffset="50"
                        data-speed="1500"
                        data-start="1000"
                        data-easing="easeInOutQuart"
                        data-splitin="none"
                        data-splitout="none"
                        data-elementdelay="0.01"
                        data-endelementdelay="0.3"
                        data-endspeed="1200"
                        data-endeasing="Power4.easeOut">
                    <div class="slider-icon">
                        <ul class="list-inline">
                            <li><span class="flaticon-window"></span></li>
                            <li><span class="flaticon-towel"></span></li>
                            <li><span class="flaticon-bucket"></span></li>
                            <li><span class="flaticon-vacuum-cleaner"></span></li>
                        </ul></div>
                </div>
              </li>
            </ul>
            <div class="tp-bannertimer"></div>
          </div>
        </div>
    </section>


    <!-- about start -->
    <section class="cs-about-area animatedParent animateOnce">
        <div class="container">
            <div class="section-wrap">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <div class="cs-about-col animated bounceInLeft slow">
                            <div class="intro-icon">
                                <i class="flaticon-vacuum-cleaner"></i>
                                <p class="clearfix mt5">Cleaning Master About us</p>
                            </div>
                            <div class="main-title">
                                <h1>Let's make you <span>fresher than ever</span></h1>
                                <p>Vivamus hendrerit nulla vel feugiat iaculis. Sed maximus ex metus, nec imperdiet leo condimentum nec. Quisque sed sem vel ligula facilisis eleifend.</p>
                            </div>
                            <p>Quisque sed sem vel ligula facilisis eleifend. Phasellus consectetur porta ipsum, eget interdum quam scelerisque fermentum. Proin quam sem, tincidunt sit amet venenatis quis, fermentum nec tortor. Donec eleifend vehicula ultrices. Etiam nec sapien in nulla faucibus tincidunt. Sed at tincidunt orci. Etiam ut nunc dui. Cras eget ex rhoncus, ornare nulla at, posuere ex.</p>
                            <a class="btn btn-default cs-my-btn cs-meet-btn" href="/" role="button">Meet Our Team</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-12 hidden-md hidden-sm hidden-xs">
                        <div class="cs-about-col animated bounceInUp slow">
                             <img src="images/about/01.jpg" alt="images/about/01.jpg">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="cs-about-col animated bounceInRight slow">
                            <div class="cs-opening-hours">
                                <div class="cs-about-opening-img">
                                   <img class="" src="images/about/02.jpg" alt="images/about/02.jpg">  
                                </div> 
                                <div class="cs-about-gap-box"></div>
                                <div class="cs-time-box">
                                    <h4><span>Opening</span> hours</h4>
                                    <p>Monday - Friday 9am - 10pm</p>
                                    <p>Sunday Closed</p>
                                    <p>Saturday Closed</p>
                                    <span class="icon icon-Time cs-time-icon"></span>
                                </div> 
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about end -->


    <!-- book cleaner start -->
    <section class="cs-book-cleaner-area">
        <div class="container" >
            <div class="section-wrap">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="cs-bg-opacity black-overlay" style="background-image: url(images/bgs/01.jpg);">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h3>We would like to introduce ourselves as  a reliable and <br> <span>professional cleaning company.</span></h3>
                                    <p>get free estimate <span>1-244 - 12 - 3456</span> </p>
                                </div>  
                                <div class="col-sm-4 clearfix text-center">
                                    <div class="cs-vertical-line"></div>
                                    <a href="/contact" class="btn btn-default cs-my-btn">Book Your Cleaner</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- book cleaner end -->

    <!-- offer start -->
    <section class="cs-offer-area animatedParent animateOnce">
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title">
                            <i class="flaticon-cleaning"></i>
                            <h2>what <span>we offers</span></h2>
                            <p>Donec suscipit turpis mi, id hendrerit augue ornare nec. Integer ultrices justo non semper<br> varius. Integer ac ex sit amet lacus sollicitudin faucibus sed sed eros.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-wrap">
                <div class="row">
                    <div class="offer-col">
                        <div class="item">
                            <div class="cs-offer-col animated bounceInUp slow delay-250">
                                <div class="cs-single-item">
                                    <img src="images/offer/01.jpg" alt="images/offer/01.jpg">
                                    <div class="cs-item-text-box">
                                        <a class="btn btn-default cs-my-btn" href="/services" role="button">View Details</a>
                                        <h5><a href="/services">office cleaning</a></h5>
                                        <p>Etiam ultrices dui ut feugiat tristique. Aenean imperdiet diam condimentum purus tincidunt volutpat.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="cs-offer-col animated bounceInUp slow delay-500">
                               <div class="cs-single-item">
                                    <img src="images/offer/02.jpg" alt="images/offer/02.jpg">
                                    <div class="cs-item-text-box">
                                        <a class="btn btn-default cs-my-btn" href="/services" role="button">View Details</a>
                                        <h5><a href="/services">pool cleaning</a></h5>
                                        <p>Etiam ultrices dui ut feugiat tristique. Aenean imperdiet diam condimentum purus tincidunt volutpat.</p>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="item">
                            <div class="cs-offer-col animated bounceInUp slow delay-750">
                                <div class="cs-single-item">
                                    <img src="images/offer/03.jpg" alt="images/offer/03.jpg">
                                    <div class="cs-item-text-box">
                                        <a class="btn btn-default cs-my-btn" href="/services" role="button">View Details</a>
                                        <h5><a href="/services">carpet cleaning</a></h5>
                                        <p>Etiam ultrices dui ut feugiat tristique. Aenean imperdiet diam condimentum purus tincidunt volutpat.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="cs-offer-col animated bounceInUp slow delay-500">
                               <div class="cs-single-item">
                                    <img src="images/offer/02.jpg" alt="images/offer/02.jpg">
                                    <div class="cs-item-text-box">
                                        <a class="btn btn-default cs-my-btn" href="/services" role="button">View Details</a>
                                        <h5><a href="/services">pool cleaning</a></h5>
                                        <p>Etiam ultrices dui ut feugiat tristique. Aenean imperdiet diam condimentum purus tincidunt volutpat.</p>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="item">
                            <div class="cs-offer-col animated bounceInUp slow delay-250">
                                <div class="cs-single-item">
                                    <img src="images/offer/03.jpg" alt="images/offer/01.jpg">
                                    <div class="cs-item-text-box">
                                        <a class="btn btn-default cs-my-btn" href="/services" role="button">View Details</a>
                                        <h5><a href="/services">office cleaning</a></h5>
                                        <p>Etiam ultrices dui ut feugiat tristique. Aenean imperdiet diam condimentum purus tincidunt volutpat.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- offer end -->


    <!-- portfolio start -->
    <section class="cs-portfolio-area cs-portfolio-area- overlayer-black" style="background-image: url(images/bgs/02.jpg);">
      <div class="container">
        <div class="section-title">  
            <div class="row">        
                <div class="col-sm-12">
                    <div class="title">
                        <i class="flaticon-detergent"></i>
                        <h2> our <span>portfolio</span></h2>
                        <p>Donec suscipit turpis mi, id hendrerit augue ornare nec. Integer ultrices justo non semper<br> varius. Integer ac ex sit amet lacus sollicitudin faucibus sed sed eros.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-wrap">
            <div class="row clearfix">
                <div class="portfolio-filter-item">
                    <ul class="portfolio-filter">
                        <li class="active"><a href="index-mp-layout-1.html#" data-filter="*">All Projects</a></li>
                        <li><a href="/services" data-filter=".item-one">Commercial</a></li>
                        <li><a href="/services" data-filter=".item-two">Streaming</a></li>
                        <li><a href="/services" data-filter=".item-three">Exterior</a></li>
                        <li><a href="/services" data-filter=".item-four">Flooring</a></li>
                        <li><a href="/services" data-filter=".item-five">Others</a></li>
                    </ul>
                </div>

                <div class="portfolio col-3 gutter portfolio-with-title">
                    <div class="portfolio-item item-two">
                        <div class="thumb">
                            <img src="images/portfolio/01.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="portfolio-btn">
                                    <a href="images/portfolio/01.jpg" class="popup-link" title="Bonded & insured"> <i class="icon icon-Search"></i>  </a>
                                </div>
                                <div class="portfolio-info">
                                    <h4><a href="images/portfolio/01.jpg" class="popup-link" title="Bonded & insured">Bonded & insured</a></h4>
                                    <p><a href="/services">office cleaning </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item item-one item-five">
                        <div class="thumb">
                            <img src="images/portfolio/02.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="portfolio-btn">
                                    <a href="images/portfolio/02.jpg" class="popup-link" title="Bonded & insured"> <i class="icon icon-Search"></i>  </a>
                                </div>
                                <div class="portfolio-info">
                                    <h4><a href="images/portfolio/02.jpg" class="popup-link" title="Bonded & insured">Bonded & insured</a></h4>
                                    <p><a href="/services">office cleaning </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item item-four">
                        <div class="thumb">
                            <img src="images/portfolio/03.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="portfolio-btn">
                                    <a href="images/portfolio/03.jpg" class="popup-link" title="Bonded & insured"> <i class="icon icon-Search"></i>  </a>
                                </div>
                                <div class="portfolio-info">
                                    <h4><a href="images/portfolio/03.jpg" class="popup-link" title="Bonded & insured">Bonded & insured</a></h4>
                                    <p><a href="/services">office cleaning </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item item-three">
                        <div class="thumb">
                            <img src="images/portfolio/04.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="portfolio-btn">
                                    <a href="images/portfolio/04.jpg" class="popup-link" title="Bonded & insured"> <i class="icon icon-Search"></i>  </a>
                                </div>
                                <div class="portfolio-info">
                                    <h4><a href="images/portfolio/04.jpg" class="popup-link" title="Bonded & insured">Bonded & insured</a></h4>
                                    <p><a href="/services">office cleaning </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item item-one item-five">
                        <div class="thumb">
                            <img src="images/portfolio/05.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="portfolio-btn">
                                    <a href="images/portfolio/05.jpg" class="popup-link" title="Bonded & insured"> <i class="icon icon-Search"></i>  </a>
                                </div>
                                <div class="portfolio-info">
                                    <h4><a href="images/portfolio/05.jpg" class="popup-link" title="Bonded & insured">Bonded & insured</a></h4>
                                    <p><a href="/services">office cleaning </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-item item-one item-four">
                        <div class="thumb">
                            <img src="images/portfolio/06.jpg" alt="">
                            <div class="portfolio-hover">
                                <div class="portfolio-btn">
                                    <a href="images/portfolio/06.jpg" class="popup-link" title="Bonded & insured"> <i class="icon icon-Search"></i>  </a>
                                </div>
                                <div class="portfolio-info">
                                    <h4><a href="images/portfolio/06.jpg" class="popup-link" title="Bonded & insured">Bonded & insured</a></h4>
                                    <p><a href="/services">office cleaning </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>
   </section>
    <!-- portfolio end -->



    <!-- service start -->
    <section class="cs-service-area">
        <div class="container">
            <div class="section-wrap">
                <div class="row">
                    <div class="col-lg-8 col-sm-12">
                        <div class="title">
                            <h2>Our awesome <span>services</span></h2>
                            <div class="small-line"></div>
                        </div>
                        <div class="cs-service-col">
                            <!-- tab with left nav start -->
                            <div class="row">
                                <div class="col-sm-4">
                                    <ul class="cs-tab">
                                        <li class="active"><a href="index-mp-layout-1.html#tab1" data-toggle="tab"><span class="flaticon-vacuum-cleaner"></span>Office cleaning</a></li>
                                        <li><a href="/services" data-toggle="tab"><span class="flaticon-brush"></span>Pool cleaning </a></li>
                                        <li><a href="/services" data-toggle="tab"><span class="flaticon-water-tap"></span>Carpet cleaning</a></li>
                                        <li><a href="/services" data-toggle="tab"><span class="flaticon-house"></span>House cleaning </a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-8">
                                    <div class="tab-content">
                                        <div class="tab-pane fade in active cs-single-tab" id="tab1">
                                            <div class="cs-service-text-bdr clearfix">
                                                <div class="cs-service-text-box">
                                                    <div class="cs-servicetop-text clearfix">
                                                        <img src="images/service/tab-1.jpg" alt="images/service/tab-1.jpg">
                                                        <p>Vestibulum enim mauris, porttitor ac rutrum luctus, dapibus sit amet mauris. Donec efficitur eros ultrices est tempor, molestie sagittis nunc euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus ornare mi id nibh.</p>
                                                    </div>
                                                    <p>porttitor ac rutrum luctus, dapibus sit amet mauris. Donec efficitur eros ultrices est tempor, molestie sagittis nunc euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus ornare mi id nibh semper consequat.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade cs-single-tab" id="tab2">
                                            <div class="cs-service-text-bdr clearfix">
                                                <div class="cs-service-text-box">
                                                    <div class="cs-servicetop-text clearfix">
                                                        <img src="images/service/tab-2.jpg" alt="images/service/tab-2.jpg">
                                                        <p>Vestibulum enim mauris, porttitor ac rutrum luctus, dapibus sit amet mauris. Donec efficitur eros ultrices est tempor, molestie sagittis nunc euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus ornare mi id nibh.</p>
                                                    </div>
                                                    <p>porttitor ac rutrum luctus, dapibus sit amet mauris. Donec efficitur eros ultrices est tempor, molestie sagittis nunc euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus ornare mi id nibh semper consequat.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade cs-single-tab" id="tab3">
                                            <div class="cs-service-text-bdr clearfix">
                                                <div class="cs-service-text-box">
                                                    <div class="cs-servicetop-text clearfix">
                                                        <img src="images/service/tab-3.jpg" alt="images/service/tab-3.jpg">
                                                        <p>Vestibulum enim mauris, porttitor ac rutrum luctus, dapibus sit amet mauris. Donec efficitur eros ultrices est tempor, molestie sagittis nunc euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus ornare mi id nibh.</p>
                                                    </div>
                                                    <p>porttitor ac rutrum luctus, dapibus sit amet mauris. Donec efficitur eros ultrices est tempor, molestie sagittis nunc euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus ornare mi id nibh semper consequat.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade cs-single-tab" id="tab4">
                                            <div class="cs-service-text-bdr clearfix">
                                                <div class="cs-service-text-box">
                                                    <div class="cs-servicetop-text clearfix">
                                                        <img src="images/service/tab-4.jpg" alt="images/service/tab-4.jpg">
                                                        <p>Vestibulum enim mauris, porttitor ac rutrum luctus, dapibus sit amet mauris. Donec efficitur eros ultrices est tempor, molestie sagittis nunc euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus ornare mi id nibh.</p>
                                                    </div>
                                                    <p>porttitor ac rutrum luctus, dapibus sit amet mauris. Donec efficitur eros ultrices est tempor, molestie sagittis nunc euismod. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus ornare mi id nibh semper consequat.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div> 
                            </div>
                            <!-- tab with left nav end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service end -->


    <!-- team start -->
    <section class="cs-team-area animatedParent animateOnce">
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 text-center">
                        <h2>Meet <span>our team</span> </h2>
                        <p><em>Donec suscipit turpis mi, id hendrerit augue ornare nec. Integer ultrices justo non semper varius. Integer ac ex sit amet lacus sollicitudin faucibus sed sed eros.</em></p>
                        <div class="title-2">
                            <div class="long-border"></div>
                            <div class="small-border"></div>
                            <span class="flaticon-dust"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-wrap">
                <div class="row">
                    <div class="col-sm-4 col-xs-6 cs-wd-100per">
                        <div class="cs-team-col animated bounceInUp slow delay-250">
                            <!-- hover -->
                            <div class="ih-item square effect3 bottom_to_top">
                                <div class="img">
                                    <img src="images/team/01.jpg" alt="images/team/01.jpg">
                                </div>
                                <div class="socila_group">
                                    <a href="#">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="info">
                                  <h4>emma watson</h4>
                                  <p>founder</p>
                                </div>
                            </div>
                            <!-- end hover -->
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 cs-wd-100per">
                        <div class="cs-team-col animated bounceInUp slow delay-500">
                            <!-- hover -->
                            <div class="ih-item square effect3 bottom_to_top">
                                <div class="img">
                                    <img src="images/team/02.jpg" alt="images/team/02.jpg">
                                </div>
                                <div class="socila_group">
                                    <a href="#">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="info">
                                  <h4>emma olivia</h4>
                                  <p>founder</p>
                                </div>
                            </div>
                            <!-- end hover -->
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-6 cs-wd-100per">
                        <div class="cs-team-col animated bounceInUp slow delay-750">
                            <!-- hover -->
                            <div class="ih-item square effect3 bottom_to_top">
                                <div class="img">
                                    <img src="images/team/03.jpg" alt="images/team/03.jpg">
                                </div>
                                <div class="socila_group">
                                    <a href="#">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                                    </a>
                                </div>
                                <div class="info">
                                  <h4>affan ibne hafiz</h4>
                                  <p>founder</p>
                                </div>
                            </div>
                            <!-- end hover -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team end -->



      <!--testimonial start-->
      <section class="cs-testimonial-area">
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>what our <span>client says</span></h2>
                        <div class="small-line mbn"></div>
                    </div>
                </div>
            </div>
            <div class="section-wrap">
                <div class="row">
                  <div class="testimonial-2">
                    <!-- single item start -->
                    <div class="item">
                        <div class="cs-testimonial-item">
                           <div class="cs-testimonial-name"> 
                            <img src="images/testimonial/01.jpg" alt="images/testimonial/01.jpg">
                            <h4>Josi welleam</h4>
                            <span>Founder , GitGat</span>
                            <div class="cs-start-mark">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            </div>
                            <i class="fa fa-quote-right cs-quote" aria-hidden="true"></i>
                          </div> 
                        </div>
                        <p>Donec malesuada interdum malesuada. Cras placerat fermentum feugiat. Sed dignissim lectus ut diam iaculis ultrices. Nullam posuere tempor enim. Integer sit amet ultrices leo, at consequat turpis. Nullam est elit, ultricies non mauris id, auctor ullamcorper sem. Morbi sed arcu nisi. Integer vestibulum odio sit amet .</p>
                    </div>
                    <!-- single item end -->
                    <!-- single item start -->
                    <div class="item">
                        <div class="cs-testimonial-item">
                           <div class="cs-testimonial-name"> 
                            <img src="images/testimonial/02.jpg" alt="images/testimonial/02.jpg">
                            <h4>Josi welleam</h4>
                            <span>Founder , GitGat</span>
                            <div class="cs-start-mark">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            </div>
                            <i class="fa fa-quote-right cs-quote" aria-hidden="true"></i>
                          </div> 
                        </div>
                        <p>Donec malesuada interdum malesuada. Cras placerat fermentum feugiat. Sed dignissim lectus ut diam iaculis ultrices. Nullam posuere tempor enim. Integer sit amet ultrices leo, at consequat turpis. Nullam est elit, ultricies non mauris id, auctor ullamcorper sem. Morbi sed arcu nisi. Integer vestibulum odio sit amet .</p>
                    </div>
                    <!-- single item end -->
                  </div>
                </div>
            </div>
        </div>
      </section>
      <!--testimonial end-->


    <!-- video start -->
    <section class="cs-video-area" style="background-image: url(images/bgs/03.jpg);">
        <div class="container">
            <div class="section-wrap">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h2>Cleaning isn't all that interesting <br> to me. I'm disorganized.</h2>
                        <a href="https://www.youtube.com/watch?v=0kIIGQYdUJw" class="lightbox-image" title="Image Caption Here"><span class="icon icon-Play"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- video end -->

    <!-- blog start -->
    <section class="cs-blog-area">
        <div class="container">
            <div class="section-title">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 text-center">
                        <h2>latest <span>news</span></h2>
                        <p><em>Donec suscipit turpis mi, id hendrerit augue ornare nec. Integer ultrices justo non semper varius. Integer ac ex sit amet lacus sollicitudin faucibus sed sed eros.</em></p>
                        <div class="title-2">
                            <div class="long-border"></div>
                            <div class="small-border"></div>
                            <span class="flaticon-dust"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-wrap">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="cs-blog-col">
                            <div class="cs-blog-img">
                                <img src="images/blog/01.jpg" alt="images/blog/01.jpg">
                                <div class="cs-like">
                                    <p><i class="fa fa-heart-o" aria-hidden="true"></i> <a href="#">22 Likes</a></p>
                                </div>
                                <div class="cs-fullscreen-btn">
                                    <a href="#"><span class="icon icon-FullScreen"></span></a>
                                </div>
                                <div class="cs-blog-date">
                                    <ul>
                                        <li><span class="icon icon-User"></span> <a href="#">CM Group</a></li>
                                        <li><span class="icon icon-Agenda"></span> <a href="#">March 12, 2018</a></li>
                                    </ul>
                                </div>
                                <div class="cs-round-img">
                                    <img src="images/blog/06.jpg" alt="images/blog/06.jpg">
                                </div>
                            </div>
                            <div class="cs-blog-text-content">
                                <h4><a href="#">Returns Back Rogers</a></h4>
                                <p>Maecenas venenatis enim vel finibus viverra. Cras tincidunt ipsum sit amet efficitur dictum. Mauris in ln accumsan sapien dui condimentum enim. Mauris pellentesque, lectus at dictum pretium, diam lectus elementum velit, in efficitur mi dui in diam. Pellentesque auctor libero non tortor elementum egestas. Phasellus ullamcorper aliquam magna vitae elementum. <a href="/">[...]</a></p>
                            </div>
                            <div class="cs-blog-social-box">
                                <ul class="cs-share-icon clearfix">
                                    <li>Share:</li>
                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li class="cs-comment"><span class="icon icon-Mail"></span><a href="#">10 Comments</a> </li>
                                    <li><a class="btn btn-default cs-my-btn cs-res-margin" href="#" role="button">Learn More</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                               <div class="cs-blog-col">
                                    <div class="cs-blog-img">
                                        <img src="images/blog/02.jpg" alt="images/blog/02.jpg">
                                        <div class="cs-like">
                                            <p><i class="fa fa-heart-o" aria-hidden="true"></i> <a href="#">22 Likes</a></p>
                                        </div>
                                        <div class="cs-fullscreen-btn">
                                            <a href="#"><span class="icon icon-FullScreen"></span></a>
                                        </div>
                                        <div class="cs-blog-date">
                                            <ul>
                                                <li><span class="icon icon-User"></span> <a href="#">CM Group</a></li>
                                                <li><span class="icon icon-Agenda"></span> <a href="#">March 12, 2018</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="cs-blog-text-content">
                                        <h4><a href="#">Returns Back Rogers</a></h4>
                                    </div>
                                    <div class="cs-blog-social-box">
                                        <ul class="cs-share-icon cs-comment-box clearfix">
                                            <li class="cs-comment"><span class="icon icon-Mail"></span><a href="#">10 Comments</a> </li>
                                            <li><a class="btn btn-default cs-my-btn" href="#" role="button">Learn More</a></li>
                                        </ul>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-sm-6 col-xs-12">
                               <div class="cs-blog-col">
                                    <div class="cs-blog-img">
                                        <img src="images/blog/03.jpg" alt="images/blog/03.jpg">
                                        <div class="cs-like">
                                            <p><i class="fa fa-heart-o" aria-hidden="true"></i> <a href="#">22 Likes</a></p>
                                        </div>
                                        <div class="cs-fullscreen-btn">
                                            <a href="#"><span class="icon icon-FullScreen"></span></a>
                                        </div>
                                        <div class="cs-blog-date">
                                            <ul>
                                                <li><span class="icon icon-User"></span> <a href="i#">CM Group</a></li>
                                                <li><span class="icon icon-Agenda"></span> <a href="#">March 12, 2018</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="cs-blog-text-content">
                                        <h4><a href="#">Returns Back Rogers</a></h4>
                                    </div>
                                    <div class="cs-blog-social-box">
                                        <ul class="cs-share-icon cs-comment-box clearfix">
                                            <li class="cs-comment"><span class="icon icon-Mail"></span><a href="#">10 Comments</a> </li>
                                            <li><a class="btn btn-default cs-my-btn" href="#" role="button">Learn More</a></li>
                                        </ul>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                               <div class="cs-blog-col">
                                    <div class="cs-blog-img">
                                        <img src="images/blog/04.jpg" alt="images/blog/04.jpg">
                                        <div class="cs-like">
                                            <p><i class="fa fa-heart-o" aria-hidden="true"></i> <a href="#">22 Likes</a></p>
                                        </div>
                                        <div class="cs-fullscreen-btn">
                                            <a href="#"><span class="icon icon-FullScreen"></span></a>
                                        </div>
                                        <div class="cs-blog-date">
                                            <ul>
                                                <li><span class="icon icon-User"></span> <a href="#">CM Group</a></li>
                                                <li><span class="icon icon-Agenda"></span> <a href="#">March 12, 2018</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="cs-blog-text-content">
                                        <h4><a href="#">Returns Back Rogers</a></h4>
                                    </div>
                                    <div class="cs-blog-social-box">
                                        <ul class="cs-share-icon cs-comment-box clearfix">
                                            <li class="cs-comment"><span class="icon icon-Mail"></span><a href="#">10 Comments</a> </li>
                                            <li><a class="btn btn-default cs-my-btn" href="/" role="button">Learn More</a></li>
                                        </ul>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-sm-6 col-xs-12">
                               <div class="cs-blog-col">
                                    <div class="cs-blog-img">
                                        <img src="images/blog/05.jpg" alt="images/blog/05.jpg">
                                        <div class="cs-like">
                                            <p><i class="fa fa-heart-o" aria-hidden="true"></i> <a href="#">22 Likes</a></p>
                                        </div>
                                        <div class="cs-fullscreen-btn">
                                            <a href="#"><span class="icon icon-FullScreen"></span></a>
                                        </div>
                                        <div class="cs-blog-date">
                                            <ul>
                                                <li><span class="icon icon-User"></span> <a href="#">CM Group</a></li>
                                                <li><span class="icon icon-Agenda"></span> <a href="#">March 12, 2018</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="cs-blog-text-content">
                                        <h4><a href="/">Returns Back Rogers</a></h4>
                                    </div>
                                    <div class="cs-blog-social-box">
                                        <ul class="cs-share-icon cs-comment-box clearfix">
                                            <li class="cs-comment"><span class="icon icon-Mail"></span><a href="#">10 Comments</a> </li>
                                            <li><a class="btn btn-default cs-my-btn" href="#" role="button">Learn More</a></li>
                                        </ul>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog end -->